{% extends 'base.html.twig' %}
{% block title %}SCHOOL{% endblock %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path("register") }}">Inscription</a>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path("gestions_inscriptions") }}">Gestions des inscriptions</a>
  </div>
</nav>

{% endblock %}
