{{ encore_entry_link_tags('header') }}
<section id="header-app">
    <div class="top">
        <a href="#">
            <div class="logo">
                <div class="img">
                    <img src="{{ asset('images/app/udc-logo.jpeg') }}">
                </div>
                <div class="name">
                    <span class="n-top">Université</span>
                    <span class="n-bottom">des Comores</span>
                </div>
            </div>
        </a>
        <div class="socials">
            <div class="icon facebook">
                <a href="#">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
            </div>
            <div class="icon instagram">
                <a href="#">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </div>
            <div class="icon twitter">
                <a href="#">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
            <div class="icon linked-in">
                <a href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="right">
            <div class="you-are shadow-sm">
                <button class="btn">Vous êtes 
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <nav>
            <ul>
                <li><a href="">Université</a></li>
                <li><a href="">Formation</a></li>
                <li><a href="">Recherche</a></li>
                <li><a href="">Vie étudiante</a></li>
                <li><a href="">Entreprise</a></li>
            </ul>
        </nav>
    </div>
</section>
{{ encore_entry_script_tags('header') }}