<div class="line">
    <div class="column-content">
        <a href="#">
            <div class="column">
                <i class="fa-solid fa-school"></i>
                <span class="name">Lycéen</span>
            </div>
        </a>
    </div>
    <div class="column-content">
        <a href="{{ path('app_profile') }}">
            <div class="column">
                <i class="fa-sharp fa-solid fa-graduation-cap"></i>
                <span class="name">Étudiant</span>
            </div>
        </a>
    </div>
</div>
<div class="line">
    <div class="column-content">
        <a href="#">
            <div class="column">
                <i class="fa-solid fa-person-chalkboard"></i>
                <span class="name">Enseignant</span>
            </div>
        </a>
    </div>
    <div class="column-content">
        <a href="#">
            <div class="column">
                <i class="fa-solid fa-toolbox"></i>
                <span class="name">Personnel de l'université</span>
            </div>
        </a>
    </div>
</div>
<div class="line">
    <div class="column-content">
        <a href="#">
            <div class="column">
                <i class="fa-solid fa-medal"></i>
                <span class="name">Diplomé</span>
            </div>
        </a>
    </div>
    <div class="column-content">
        <a href="#">
            <div class="column">
                <i class="fa-solid fa-briefcase"></i>
                <span class="name">Dans la vie active</span>
            </div>
        </a>
    </div>
</div>