{% extends 'app/base/index.html.twig' %}
{% block body %}
{{ encore_entry_link_tags('home') }}
{{ include('app/base/header.html.twig') }}
<section id="home-slider">
    <div class="img-udc-1">
        <img src="{{ asset('images/app/udc_1.png') }}">
    </div>
</section>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, deleniti nostrum. Dignissimos voluptates perferendis impedit voluptatem amet adipisci, repellendus fugiat repellat magnam voluptatibus esse officia maxime dolor sit culpa sunt.</p>
{{ encore_entry_script_tags('home') }}
{% endblock %}
