{% extends 'app/base/index.html.twig' %}
{% block body %}
{{ encore_entry_link_tags('home') }}
{{ include('app/base/header.html.twig') }}
<section id="home-slider">
    <div class="img-udc-1">
        <img src="{{ asset('images/app/udc_1.png') }}">
    </div>
</section>
{{ encore_entry_script_tags('home') }}
{% endblock %}
