{% extends 'app/base/index.html.twig' %}
{% block body %}
{{ encore_entry_link_tags('profile') }}
{{ include('app/base/header.html.twig') }}
<section id="home-profile">
    <div class="side-block shadow-sm">
        <div class="img">
        
        </div>
        <div class="infos text-center">
            <span class="name">Hassane TOIWILOU</span><br>
            <span class="detail">Mathématiques et applications</span><br>
            <span class="level">Troisième année</span>
        </div>
        <p class="about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Voluptatem numquam officiis sit quibusdam ipsa molestias, 
            qui voluptas excepturi, quo tempora commodi natus accusantium 
            a ipsum cum aut repudiandae maiores sunt!
        </p>
        <div class="skills">
        
        </div>
    </div>
    <div class="block-content">
        <div class="top shadow-sm">

        </div>
        <div class="middle shadow-sm">

        </div>
        <div class="bottom">
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
</section>
{{ encore_entry_script_tags('profile') }}
{% endblock %}
